/Library
/.vs/20190209-Roman/v15/.suo
/.vs/20190209-Roman/v15/Server/sqlite3/db.lock
/.vs/20190209-Roman/v15/Server/sqlite3/storage.ide
/.vs/20190209-Roman/v15/Server/sqlite3/storage.ide-shm
/.vs/20190209-Roman/v15/Server/sqlite3/storage.ide-wal
/Temp/ProcessJobs/e9a6970f79cd12d8b075e7d72f1b07cb.bakert
/Temp/TarGZ/archtemp.tar
/Temp/UnityLockfile
/Temp/UnityTempFile-0fbedc072e4d81e43a60222046c6729b
/Temp/UnityTempFile-1dfd4a750cfabe04cafd458248cecffa
/Temp/UnityTempFile-35539c7a5bdcc0445bae9dd93406de0a
/Temp/UnityTempFile-431608744c0d4fd44b3f82ba65c0826b
/Temp/UnityTempFile-614e456135734bb48ad34350c892fa04
/Temp/UnityTempFile-f8e795f0a9192e0448c2ce24bea49927
/Temp/UnityVS_obj/Debug/20190209-Roman.Editor.csproj.CoreCompileInputs.cache
/Temp/UnityVS_obj/Debug/20190209-Roman.Editor.csprojAssemblyReference.cache
/Temp/UnityVS_obj/Debug/20190209-Roman.csproj.CoreCompileInputs.cache
/Temp/UnityVS_obj/Debug/20190209-Roman.csprojAssemblyReference.cache
